/* class top-header to be able to have a box like the image */

.top-header{   
     font-family: 'Georgia', 'Times New Roman', Times, serif;   
    background-color: #ffffff;
    border-color: #cccccc; 
    overflow: auto;
}

/* header is for styling my name */
header {
    background: #4aaaa5;
    width: 300px;
    height: 100px;
    text-align: center;

    left: 0;
    color: white;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 10%;
    margin-bottom: -40px;

}
.options{
position: relative;
padding: 20px;
}


/* need to float right? */
#About{
    float: right;
    margin-right: 5px;
}
/* need it on the right side of about */
#Portfolio{
    float: right;
    margin-right: 5px;
}

/* need it on the right side of portfolio */
#Contact{
    float: right;
    margin-right: 5px;

}

/* the text itself needs to be inside a box */
.wrapper{
    clear: both;
    position: relative;
    background-color: #ffffff;
    border-color: #dddddd;
    margin-top: 50px;
    margin-right: -300px;
    margin-bottom: 80px;
    margin-left: 200px;

}

/* content needs to fit the dimensions of the page */
#content{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 65%;

}

/* class relative is my image which needs to be on the right side of the page */
.relative{

}

/* footer needs to look cleaner? try referencing the <div> activity */

footer{
    clear: both;
    Border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    font-size: 10px;
    padding: 20px;
}