header {
    font-family: 'Georgia', 'Times New Roman', Times, serif;   
}

footer{
    Border-top: 8px solid #4aaaa5;
    background-color: grey;
    text-align: center;
    font-size: 10px;
    padding: 20px;
}